.row-fluid
  .blog-big-list
    %ul.latest-posts.span12
      %li.row-fluid
        %span.date.span2 Aug 1, 2013
        %a.title.post-title.span10{:href => "03-blog-single.html"} Standard Post Format with Image
      %li.row-fluid
        %span.date.span2 Jul 29, 2013
        %a.title.post-title.span10{:href => "03-blog-single.html"} Gallery Post Format
      %li.row-fluid
        %span.date.span2 Jul 22, 2013
        %a.title.post-title.span10{:href => "03-blog-single.html"} Link Post Format
      %li.row-fluid
        %span.date.span2 Jul 4, 2013
        %a.title.post-title.span10{:href => "03-blog-single.html"} Another Standard Post Format
    %a.btn.btn-default{:href => "02-blog.html"} View all posts