%ul.row-fluid  
  %li.span3
    %img{:alt => "client1", :src => "/images/content/clients/client-1.png"}/
  %li.span3
    %img{:alt => "client2", :src => "/images/content/clients/client-2.png"}/
  %li.span3
    %img{:alt => "client3", :src => "/images/content/clients/client-3.png"}/
  %li.span3
    %img{:alt => "client4", :src => "/images/content/clients/client-4.png"}/
%ul.row-fluid
  %li.span3
    %img{:alt => "client5", :src => "/images/content/clients/client-5.png"}/
  %li.span3
    %img{:alt => "client6", :src => "/images/content/clients/client-6.png"}/
  %li.span3
    %img{:alt => "client7", :src => "/images/content/clients/client-7.png"}/
  %li.span3
    %img{:alt => "client8", :src => "/images/content/clients/client-8.png"}/