.row-fluid  
  .span4.person-box
    %img{:alt => "CreateIT", :src => "/images/content/team/team-1.jpg"}
    %h4 Sebastian Stokes
    %h5 AD/Founder
    %a{:href => "/", :rel => "nofollow"} @sebastianstokes
  .span4.person-box
    %img{:alt => "kripalser", :src => "/images/content/team/team-2.jpg"}
    %h4 Robert Singer
    %h5 Developer
    %a{:href => "/", :rel => "nofollow"} @robertsinger
  .span4.person-box
    %img{:alt => "themeforest", :src => "/images/content/team/team-3.jpg"}
    %h4 Liam Bowen
    %h5 Designer
    %a{:href => "/", :rel => "nofollow"} @liambowen