%header#MainHeader.main-header.parallax{:style => "background-image: url('/images/content/main-background.jpg')"}
  .container
    %section.row-fluid
      .span10.offset1
        %img.mainpng{:alt => "companyname", :src => "/images/logo.png", :title => "companyname"}
        / %h1 garage
        / %br
        / %h1 all clear?

:css
  .mainpng{
    width: 250px;
  }