.row-fluid
  .span4.icon-box
    %h4
      %i.icon-cogs
      HTML5  CSS3
    %p
      Built with semantically correct HTML5 and CSS3.
      %br
        In pharetra scelerisque ullamcorper. Quisque et erat erat, et aliquet a dictum tellus.
  .span4.icon-box
    %h4
      %i.icon-desktop
      Responsive
    %p
      Your website can be viewed on many different devices. Laptops, mobiles, tablets...
      %br
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  .span4.icon-box
    %h4
      %i.icon-thumbs-up
      Easy to use
    %p
      You get documentation, to make editing and understanding it much easier.
      %br
        Nulla facilisi. Cras a scelerisque ipsum. Vestibulum ac arcu neque.