%section.preview.flexslider.row-fluid
  %ul.slides.span12
    %li
      %ul.row-fluid
        %li.span4
          %a{:href => "/work/1"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-1.jpg"}/
        %li.span4
          %a{:href => "/work/2"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-2.jpg"}/
        %li.span4
          %a{:href => "/work/3"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-3.jpg"}/
      %ul.row-fluid
        %li.span4
          %a{:href => "/work/4"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-4.jpg"}/
        %li.span4
          %a{:href => "/work/5"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-5.jpg"}/
        %li.span4
          %a{:href => "/work/6"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-6.jpg"}/
    %li
      %ul.row-fluid
        %li.span4
          %a{:href => "/work/7"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-7.jpg"}/
        %li.span4
          %a{:href => "/work/8"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-8.jpg"}/
        %li.span4
          %a{:href => "/work/9"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-9.jpg"}/
      %ul.row-fluid
        %li.span4
          %a{:href => "/work/10"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-10.jpg"}/
        %li.span4
          %a{:href => "/work/11"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-11.jpg"}/
        %li.span4
          %a{:href => "/work/12"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-12.jpg"}/
    %li
      %ul.row-fluid
        %li.span4
          %a{:href => "/work/13"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-13.jpg"}/
        %li.span4
          %a{:href => "/work/14"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-14.jpg"}/
        %li.span4
          %a{:href => "/work/15"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-15.jpg"}/
      %ul.row-fluid
        %li.span4
          %a{:href => "/work/16"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-16.jpg"}/
        %li.span4
          %a{:href => "/work/17"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-17.jpg"}/
        %li.span4
          %a{:href => "/work/18"}
            %img{:alt => "", :src => "/images/content/works/thumbnails/work-thumbnail-18.jpg"}/