
<div class="boxedWrapper">
<header id="MainHeader" class="main-header parallax" style="background-image: url('/images/content/main-background.jpg')">
    <div class="container">
        <section class="row-fluid">
            <div class="span10 offset1">
                <img src="/images/logo.png" title="companyname" alt="companyname">

                <h1>We are super-duper awesome design studio</h1>
            </div>
        </section>
    </div>
</header>
<nav id="MainNav" class="navbar sticky">
    <a href="#MainNav" class="arrow"></a>

    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <!-- This button toggles visibility of menu on mobile devices -->
            </button>
            <a class="brand" href="#MainHeader"><img src="/images/logo-small.png" alt="companyname"></a>

            <div class="nav-collapse collapse">
                <ul class="nav nav-pills">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#MainHeader">Home</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">Submenu</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">Another menu</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Page 1</a></li>
                                            <li><a href="#">Page 2</a></li>
                                            <li><a href="#">Page 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Page 1</a></li>
                                    <li><a href="#">Page 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#Work">Work</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="07-portfolio.html">Isotope</a></li>
                        </ul>
                    </li>
                    <li><a href="#Info">Info</a></li>
                    <li><a href="05-elements.html">Elements</a></li>
                    <li><a href="04-404.html">404</a></li>
                    <li><a href="#BlogList">Blog</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section id="Work" class="work parallax" style="background-image: url('/images/content/background-image-1.jpg');">
    <div class="container">
        <h2>
            Work
        </h2>
        <section class="preview flexslider row-fluid">
            <ul class="slides span12">
                <li>
                    <ul class="row-fluid">
                        <li class="span4"><a href="/pages/work1.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-1.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work2.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-2.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work3.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-3.jpg" alt=""></a></li>
                    </ul>
                    <ul class="row-fluid">
                        <li class="span4"><a href="/pages/work4.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-4.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work5.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-5.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work6.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-6.jpg" alt=""></a></li>
                    </ul>
                </li>
                <li>
                    <ul class="row-fluid">
                        <li class="span4"><a href="/pages/work7.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-7.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work8.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-8.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work9.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-9.jpg" alt=""></a></li>
                    </ul>
                    <ul class="row-fluid">
                        <li class="span4"><a href="/pages/work10.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-10.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work11.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-11.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work12.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-12.jpg" alt=""></a></li>
                    </ul>
                </li>
                <li>
                    <ul class="row-fluid">
                        <li class="span4"><a href="/pages/work13.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-13.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work14.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-14.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work15.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-15.jpg" alt=""></a></li>
                    </ul>
                    <ul class="row-fluid">
                        <li class="span4"><a href="/pages/work16.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-16.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work17.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-17.jpg" alt=""></a></li>
                        <li class="span4"><a href="/pages/work18.html"><img
                                src="/images/content/works/thumbnails/work-thumbnail-18.jpg" alt=""></a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="full-view row-fluid">
            <!-- Work details are loaded here with Ajax from external html files -->
        </section>
    </div>
    <section id="Skills" class="section-emphasis">
        <div class="container">
            <h3>
                Template capabilities
            </h3>
            <div class="row-fluid">
                <div class="span4 icon-box">
                    <h4><i class="icon-cogs"></i>HTML5 & CSS3</h4>

                    <p>Built with semantically correct HTML5 and CSS3.<br>
                        In pharetra scelerisque ullamcorper. Quisque et erat erat, et aliquet a dictum tellus.</p>
                </div>
                <div class="span4 icon-box">
                    <h4><i class="icon-desktop"></i>Responsive</h4>

                    <p>Your website can be viewed on many different devices. Laptops, mobiles, tablets...<br>
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="span4 icon-box">
                    <h4><i class="icon-thumbs-up"></i>Easy to use</h4>

                    <p>You get documentation, to make editing and understanding it much easier.<br>
                        Nulla facilisi. Cras a scelerisque ipsum. Vestibulum ac arcu neque.</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section id="Info" class="parallax" style="background-image: url('/images/content/background-image-2.jpg')">
    <div class="container">
        <h2>
            Info
        </h2>

        <div class="row-fluid">
            <div class="span12">
                <p class="huge">
                    Pellentesque id nunc tempus metus gravida luctus id sit amet ipsum. Fusce eleifend ipsum vel odio
                    hendrerit eu auctor nibh dictum. Vivamus facilisis blandit ante id ultricies. Suspendisse id metus
                    elit. Nullam odio leo, ornare ac porta et, suscipit non lectus.
                </p>
            </div>
        </div>
    </div>
    <section id="Team" class="section-emphasis-2">
        <div class="container">
            <h3>
                The team
            </h3>
            <div class="row-fluid">
                <div class="span4 person-box">
                    <img src="/images/content/team/team-1.jpg" alt="CreateIT">
                    <h4>Sebastian Stokes</h4>
                    <h5>AD/Founder</h5>
                    <a href="/" rel="nofollow">@sebastianstokes</a>
                </div>
                <div class="span4 person-box">
                    <img src="/images/content/team/team-2.jpg" alt="kripalser">
                    <h4>Robert Singer</h4>
                    <h5>Developer</h5>
                    <a href="/" rel="nofollow">@robertsinger</a>
                </div>
                <div class="span4 person-box">
                    <img src="/images/content/team/team-3.jpg" alt="themeforest">
                    <h4>Liam Bowen</h4>
                    <h5>Designer</h5>
                    <a href="/" rel="nofollow">@liambowen</a>
                </div>
            </div>
        </div>
    </section>
    <section id="Clients">
        <div class="container">
            <h3>
                Some of our clients
            </h3>
            <ul class="row-fluid">
                <li class="span3"><img src="/images/content/clients/client-1.png" alt="client1"></li>
                <li class="span3"><img src="/images/content/clients/client-2.png" alt="client2"></li>
                <li class="span3"><img src="/images/content/clients/client-3.png" alt="client3"></li>
                <li class="span3"><img src="/images/content/clients/client-4.png" alt="client4"></li>
            </ul>
            <ul class="row-fluid">
                <li class="span3"><img src="/images/content/clients/client-5.png" alt="client5"></li>
                <li class="span3"><img src="/images/content/clients/client-6.png" alt="client6"></li>
                <li class="span3"><img src="/images/content/clients/client-7.png" alt="client7"></li>
                <li class="span3"><img src="/images/content/clients/client-8.png" alt="client8"></li>
            </ul>
        </div>
    </section>
</section>
<section id="BlogList" class="parallax" style="background-image: url('/images/content/background-image-3.jpg')">
    <div class="container">
        <h2>
            From our blog
        </h2>

        <div class="row-fluid">
            <div class="blog-big-list">
                <ul class="latest-posts span12">
                    <li class="row-fluid">
                        <span class="date span2">Aug 1, 2013</span>
                        <a href="03-blog-single.html" class="title post-title span10">Standard Post Format with Image</a>
                    </li>
                    <li class="row-fluid">
                        <span class="date span2">Jul 29, 2013</span>
                        <a href="03-blog-single.html" class="title post-title span10">Gallery Post Format</a>
                    </li>
                    <li class="row-fluid">
                        <span class="date span2">Jul 22, 2013</span>
                        <a href="03-blog-single.html" class="title post-title span10">Link Post Format</a>
                    </li>
                    <li class="row-fluid">
                        <span class="date span2">Jul 4, 2013</span>
                        <a href="03-blog-single.html" class="title post-title span10">Another Standard Post Format</a>
                    </li>
                </ul>
                <a href="02-blog.html" class="btn btn-default">View all posts</a>
            </div>
        </div>
    </div>
</section>
<section id="Contact" class="parallax" style="background-image: url('/images/content/background-image-3.jpg')">
    <div class="container">
        <h2>
            Contact
        </h2>

        <div class="row-fluid">
            <form action="form/contact.php" method="post" class="contactForm span6" novalidate>
                <input type="text" placeholder="Your name" name="name" required>
                <input type="email" placeholder="Your email" name="email" required>
                <textarea placeholder="Your message" name="message" required></textarea>
                <label class="info">All fields required</label>
                <input type="submit" value="Submit">
            </form>
            <div class="span3">
                <div class="text-widget widget">
                    <h4>Say Hello</h4>

                    <p>
                        Drop us a line via email:<br>
                        <a href="mailto:fake@mail.com">hello@nonus.com</a>
                    </p>
                </div>
                <div class="text-widget widget">
                    <h4 class="adress">Visit us</h4>

                    <p>
                        221 Baker Street<br>
                        London, United Kingdom<br>
                        +44 20 1234 5678<br>
                    </p>
                </div>
            </div>
            <div class="span3">
                <div class="social-widget widget">
                    <h4>Elsewhere</h4>

                    <p class="social">
                        <a href="#" rel="nofollow"><i class="icon-facebook-sign"></i>Facebook</a><br>
                        <a href="#" rel="nofollow"><i class="icon-twitter"></i>Twitter</a><br>
                        <a href="#" rel="nofollow"><i class="icon-google-plus-sign"></i>Google+</a><br>
                        <a href="#" rel="nofollow"><i class="icon-dribbble"></i>Dribbble</a>
                    <p>
                </div>
            </div>
        </div>
    </div>
    <section id="Twitter" class="section-emphasis">
        <div class="container tweets">
            <h3>
                <i class="icon-twitter"><span class="hidden-text">Twitter</span></i>
            </h3>
        </div>
    </section>
</section>